/* Hoomaniml */

/* COLOR PALETTE: https://colorhunt.co/palette/1b1a17f0a500e45826e6d5b8 */

* {
    margin: 0;
    
}

body {
    background:#F0A500;
    color: #E45826;
}


.maincol {
    background-color: #1B1A17 ;
    text-align: center;
    margin: 1% auto;
    border-radius: 10px;
}